--
-- PostgreSQL database dump
--

\restrict 3kfwMdHkZ69VyCB5lv1Z4OI8uYGqSqV1OetbtiRiEnET8MfIFJahsn4mBvf2BuR

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cobrancas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cobrancas (
    id integer NOT NULL,
    municipio_id integer,
    tipo_tributo character varying(50),
    valor_bruto numeric(15,2) NOT NULL,
    taxa_psp numeric(15,2) DEFAULT 0.00,
    status character varying(20) DEFAULT 'pendente'::character varying,
    data_pagamento timestamp with time zone,
    criado_em timestamp with time zone DEFAULT now(),
    metodo_pagamento character varying(20) DEFAULT 'Pix'::character varying
);


ALTER TABLE public.cobrancas OWNER TO postgres;

--
-- Name: cobrancas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cobrancas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cobrancas_id_seq OWNER TO postgres;

--
-- Name: cobrancas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cobrancas_id_seq OWNED BY public.cobrancas.id;


--
-- Name: municipios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.municipios (
    id integer NOT NULL,
    nome character varying(255) NOT NULL,
    cnpj character varying(18) NOT NULL,
    saldo_atual numeric(15,2) DEFAULT 0.00,
    criado_em timestamp with time zone DEFAULT now()
);


ALTER TABLE public.municipios OWNER TO postgres;

--
-- Name: municipios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.municipios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.municipios_id_seq OWNER TO postgres;

--
-- Name: municipios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.municipios_id_seq OWNED BY public.municipios.id;


--
-- Name: rendimentos_diarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rendimentos_diarios (
    id integer NOT NULL,
    municipio_id integer,
    data_referencia date DEFAULT CURRENT_DATE,
    valor_rendimento numeric(15,2),
    taxa_admin_assat numeric(15,2)
);


ALTER TABLE public.rendimentos_diarios OWNER TO postgres;

--
-- Name: rendimentos_diarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rendimentos_diarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rendimentos_diarios_id_seq OWNER TO postgres;

--
-- Name: rendimentos_diarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rendimentos_diarios_id_seq OWNED BY public.rendimentos_diarios.id;


--
-- Name: cobrancas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cobrancas ALTER COLUMN id SET DEFAULT nextval('public.cobrancas_id_seq'::regclass);


--
-- Name: municipios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipios ALTER COLUMN id SET DEFAULT nextval('public.municipios_id_seq'::regclass);


--
-- Name: rendimentos_diarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rendimentos_diarios ALTER COLUMN id SET DEFAULT nextval('public.rendimentos_diarios_id_seq'::regclass);


--
-- Data for Name: cobrancas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: municipios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.municipios (id, nome, cnpj, saldo_atual, criado_em) FROM stdin;
1	Barra Mansa	28.695.658/0001-84	10501592.80	2026-02-15 17:05:01.410118-03
\.


--
-- Data for Name: rendimentos_diarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rendimentos_diarios (id, municipio_id, data_referencia, valor_rendimento, taxa_admin_assat) FROM stdin;
\.


--
-- Name: cobrancas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cobrancas_id_seq', 11, true);


--
-- Name: municipios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.municipios_id_seq', 1, true);


--
-- Name: rendimentos_diarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rendimentos_diarios_id_seq', 1, false);


--
-- Name: cobrancas cobrancas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cobrancas
    ADD CONSTRAINT cobrancas_pkey PRIMARY KEY (id);


--
-- Name: municipios municipios_cnpj_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipios
    ADD CONSTRAINT municipios_cnpj_key UNIQUE (cnpj);


--
-- Name: municipios municipios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.municipios
    ADD CONSTRAINT municipios_pkey PRIMARY KEY (id);


--
-- Name: rendimentos_diarios rendimentos_diarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rendimentos_diarios
    ADD CONSTRAINT rendimentos_diarios_pkey PRIMARY KEY (id);


--
-- Name: cobrancas cobrancas_municipio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cobrancas
    ADD CONSTRAINT cobrancas_municipio_id_fkey FOREIGN KEY (municipio_id) REFERENCES public.municipios(id);


--
-- Name: rendimentos_diarios rendimentos_diarios_municipio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rendimentos_diarios
    ADD CONSTRAINT rendimentos_diarios_municipio_id_fkey FOREIGN KEY (municipio_id) REFERENCES public.municipios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 3kfwMdHkZ69VyCB5lv1Z4OI8uYGqSqV1OetbtiRiEnET8MfIFJahsn4mBvf2BuR

